 <!-- About Section -->
    <section class="success" id="download">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Download</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <h3>All Is Vanity - Chasing The Wind</h3>
                </div>
                <div class="col-lg-2">
                    <p>1/1/2015</p>
                </div>
				 <div class="col-lg-8">
                    <h4>Release Notes</h4>
					<h5>Development Build 0.1.0</h5>
					<p>An isometric shoot'emup that combines rpg elements, unique physics based wind mechanics, and arena shooter game-play elements.  Play through the introductory tutorials to meet the for a general feel of the game.  Download the windows version (.exe) or play the flash version online.</p>
				</div>
				<div class="col-lg-offset-2 col-lg-2">
					 <img class="img-responsive" src="img/profile-bck.png" alt="">
				</div>
                <div class="col-lg-12 text-center">
                    <a href="http://xenizogames.itch.io/all-is-vanity" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Windows
                    </a>
					 <a href="flash/index.html" class="btn btn-lg btn-outline">
                        <i class="fa fa-play"></i> Flash
                    </a>
                </div>
				<div class="col-lg-12">
                    <ul class="breadcrumb" style="margin-top:20px">
						<li><a href="http://www.openfl.org/" >Made with HaXe and OpenFL</a></li>
						<li><a href="http://xenizogames.itch.io/all-is-vanity" >itch.io</a></li>
						<li><a href="#TODO" >Devlog</a></li>
					</ul>
                </div>
            </div>
        </div>
    </section>